@{
    ViewBag.Title = "角色管理";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

@section Scripts{
    <style type="text/css">
        .wrapper { padding: 5px; }
        .ibox-content { padding: 5px 10px 5px 10px; }
        .ibox { margin-bottom: 0px; }
    </style>

    <script type="text/javascript">
        $(function () {
            $('#tb_roles').bootstrapTable({
                url: '/Mgr/RoleList',
                method: 'post',
                height: 512,
                checkboxHeader: true,
                iconSize: 'outline',
                showColumns: false,
                sidePagination: 'server',
                pagination: true,
                contentType: 'application/json',
                dataType: 'json'
            });
        });
    </script>
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="ibox">

        @*<div class="ibox-title">
            <h3>角色管理</h3>
        </div>*@

        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">

                    <!-- Table Start -->
                    <div class="example-wrap">
                        <div class="example">
                            <table id="tb_roles" data-mobile-responsive="true" data-row-style="rowStyle">
                                <thead>
                                    <tr>
                                        <th data-field="RoleID" data-checkbox="true" data-width="20">角色标识</th>
                                        <th data-field="RoleName">角色名称</th>
                                        <th data-field="CreateTime" data-width="150">时间</th>
                                        <th data-field="RowIndex" data-width="110">操作</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <!-- End Table -->

                </div>
            </div>
        </div>

    </div>

</div>

